/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Bootstrap default light-gray */
}

.container {
    margin-top: 20px;
}

canvas {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
}

button {
    margin-top: 10px;
}

input[type="file"] {
    margin-top: 10px;
}
